version: '3.8'

services:
  web:
    build: .
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             python manage.py migrate &&
             gunicorn --bind 0.0.0.0:8000 weinber_admin.wsgi:application"
    volumes:
      - .:/app
    expose:
      - 8000
    env_file:
      - .env
    environment:
      - DB_HOST=db
    depends_on:
      - db

  db:
    image: postgres:13
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=weinber_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345

  nginx:
    build: ./nginx
    ports:
      - 80:80
    depends_on:
      - web
    volumes:
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media

volumes:
  postgres_data:
